<link rel="stylesheet" href="./src/css/main.css">
<link rel="stylesheet" href="./src/css/jquery-ui.min.css">

<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="828px" height="828px" viewBox="0 0 828 828" enable-background="new 0 0 828 828" xml:space="preserve">
     
     <!-- Start Bacon SVG -->
    <g class="element" id="bacon">
        <path fill="#C65C3D" d="M475.258,344.708c-43-25-8-49-49-70c-32.18-16.48-28.01-45.28-32.95-79.15
            c-8.17,1.68-16.569,3.78-25.09,6.41c-7.49,2.3-15.08,5.01-22.68,8.2c-8.87,3.7-17.75,8.05-26.53,13.15
            c3.9,31.6,1.74,58.31,32.25,73.94c41,21,6,45,49,70c37.67,21.9,11.64,83.709,52.35,138.37c8.931-3.3,17.601-7.05,25.91-11.05
            c6.931-3.329,13.601-6.84,19.96-10.409c7.62-4.281,14.78-8.65,21.37-12.91C490.298,419.777,510.238,365.037,475.258,344.708z"/>
        <path fill="#DD874A" d="M498.478,484.168c-6.359,3.569-13.029,7.08-19.96,10.409c-39.149-54.28-13.93-115.17-51.26-136.87
            c-43-25-8-49-49-70c-31.67-16.22-28.14-44.37-32.72-77.54c7.6-3.19,15.189-5.9,22.68-8.2c5.07,34.12,0.68,63.16,33.04,79.74
            c41,21,6,45,49,70C486.578,372.827,463.688,431.037,498.478,484.168z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#ECBEAA" d="M-489.435,332.783c0,31.811-25.788,57.599-57.6,57.599c-31.811,0-57.6-25.788-57.6-57.599
            c0-31.813,25.789-85.39,57.6-85.39C-515.223,247.394-489.435,300.971-489.435,332.783z"/>
        <path display="inline" fill="#F89B47" d="M-548.292,350.182c5.882-5.993,20.383-8.781,29.248-6.337
            c-2.952,8.618-8.974,12.969-8.974,12.969C-532.312,356.853-543.192,355.187-548.292,350.182z"/>
        <path display="inline" fill="#58595B" d="M-555.234,343.229c0.011,1.224-0.972,2.226-2.196,2.237
            c-1.225,0.012-2.226-0.972-2.238-2.196c-0.012-1.225,0.972-2.227,2.197-2.238C-556.248,341.021-555.246,342.004-555.234,343.229z
            M-513.323,334.247c-1.225,0.011-2.208,1.014-2.196,2.238s1.014,2.208,2.238,2.196c1.224-0.011,2.208-1.014,2.196-2.238
            C-511.097,335.219-512.099,334.235-513.323,334.247z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#E0D4CA" d="M-70.229,337.918c-20.829,5.228-37.473-0.357-54.976-5.671
            c-17.502-5.314-38.927-14.143-57.857-13.12c-18.929,1.021-22.45,12.765-36.306,22.825c-13.856,10.059-27.911,8.591-26.311,36.77
            c0.775,13.649,21.073,18.624,38.068,14.413s31.563-3.48,46.583,8.821c15.02,12.3,43.842,17.406,70.888-3.643
            c27.045-21.049,47.021-10.815,57.908-32.854C-21.345,343.418-49.398,332.69-70.229,337.918z"/>
        <path display="inline" fill="#F89B47" d="M-174.877,369.706c-18.155-25.507,47.316-39.07,62.897-14.672
            C-96.399,379.433-158.084,393.299-174.877,369.706z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#C65C3D" d="M-629.108,351.105c-18.458-28.366,9.455-32.691-8.97-57.984
            c-14.461-19.851-3.596-36.401,3.292-58.822c-5.376-1.415-11.011-2.638-16.873-3.572c-5.149-0.828-10.478-1.432-15.951-1.742
            c-6.381-0.377-12.958-0.354-19.692,0.162c-6.851,20.704-15.905,36.566-2.195,55.39c18.424,25.293-9.489,29.618,8.97,57.985
            c16.17,24.85-17.365,55.24-8.896,101.253c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
            c5.802-0.357,11.355-0.91,16.536-1.563C-641.927,402.026-614.09,374.176-629.108,351.105z"/>
        <path display="inline" fill="#DD874A" d="M-646.097,347.925c-18.458-28.367,9.454-32.691-8.97-57.985
            c-14.54-19.966-3.474-36.599,3.409-59.213c-5.149-0.828-10.478-1.432-15.951-1.742c-6.9,21.879-17.193,38.22-2.96,57.757
            c18.424,25.292-9.489,29.618,8.969,57.984c16.025,24.624-16.757,54.689-9.112,99.998c5.113,0.025,10.124-0.143,14.966-0.439
            C-661.118,400.995-630.508,371.887-646.097,347.925z"/>
    </g>
    <path display="none" fill="#D1D3D4" d="M-432.575,287.496c-0.641-10.462,7.008-21.056,10.499-25.896
        c3.491-4.837,2.644-23.848,2.569-40.223c-0.044-8.752,0.063-29.031,0.168-46.032c-0.009-0.003-0.007-0.01-0.002-0.018
        c-1.438-6.736-9.291-5.979-9.625,2.027c-0.382,8.944-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.702-8.978-0.561
        c0.063-9.264,1.479-26.83,1.851-35.542c0.375-8.718-7.404-9.343-8.058-0.413c-0.658,8.921-1.761,24.029-2.597,35.396
        c-0.838,11.378-10.865,8.588-10.068-0.63c0.787-9.215,3.029-35.377,3.029-35.377c0.884-10.221-8.046-9.477-9.208-0.691
        c-0.006,0.035-0.012,0.074-0.019,0.116c-3.487,28.503-7.862,68.847-5.733,76.497c3.359,12.05,15.283,16.91,18.613,24.13
        c3.328,7.226,7.621,15.092,8.335,32.152c0.722,17.063-3.428,144.016-3.428,144.016c12.57,8.168,27.626,2.66,33.52,0.168
        C-422.644,382-431.93,297.951-432.575,287.496z"/>
    <g display="none">
        <path display="inline" fill="#E6E7E8" d="M-329.447,262.62c-29.82,0-53.997,3.685-53.997,8.232l0.021,0.213l4.117,44.542v0.006
            l0.028,0.261l7.63,82.514c0,4.547,18.895,8.232,42.201,8.232c23.312,0,42.201-3.685,42.201-8.232l7.637-82.542l0.021-0.234
            l4.125-44.548l0.02-0.213C-275.444,266.304-299.62,262.62-329.447,262.62z"/>
        <path display="inline" fill="#F1F2F2" d="M-275.464,271.064l-4.125,44.548c0-4.547-22.319-8.231-49.858-8.231
            c-27.519,0-49.838,3.678-49.859,8.225l-4.117-44.542c0.735,4.448,24.619,8.018,53.976,8.018
            C-300.083,279.083-276.2,275.512-275.464,271.064z"/>
        <path display="inline" fill="#F89B47" d="M-287.247,398.388c0,4.547-18.889,8.232-42.201,8.232
            c-23.306,0-42.201-3.685-42.201-8.232l-7.63-82.514c0.83,4.426,22.822,7.97,49.831,7.97c27.07,0,49.089-3.558,49.837-7.998
            L-287.247,398.388z"/>
        <path display="inline" fill="#FBB87B" d="M-279.589,315.612l-0.021,0.234c-0.749,4.44-22.768,7.998-49.837,7.998
            c-27.009,0-49.001-3.544-49.831-7.97l-0.028-0.261v-0.006c0.021-4.547,22.34-8.225,49.859-8.225
            C-301.909,307.381-279.589,311.065-279.589,315.612z"/>
    </g>
    <path display="none" fill="#ECBEAA" d="M-489.435,585.216c0,31.811-25.788,57.6-57.6,57.6c-31.811,0-57.6-25.789-57.6-57.6
        c0-31.813,25.789-85.39,57.6-85.39C-515.223,499.826-489.435,553.403-489.435,585.216z"/>
    <path display="none" fill="#E0D4CA" d="M-29.805,579.49c-0.116-12.417-14.699-19.342-29.528-19.345
        c-3.69-0.001-7.395,0.427-10.896,1.306c-20.829,5.229-37.473-0.356-54.976-5.671c-17.502-5.314-38.927-14.143-57.857-13.12
        c-18.929,1.021-22.45,12.766-36.306,22.824c-13.056,9.479-26.288,8.723-26.434,32.174c-0.009,1.438,0.031,2.968,0.124,4.596
        c0.588,10.357,12.417,15.72,25.513,15.865c4.164,0.046,8.455-0.436,12.555-1.451c16.995-4.211,31.563-3.48,46.583,8.82
        c7.663,6.274,18.917,10.678,31.696,10.69c12.27,0.013,25.944-4.022,39.192-14.333c27.045-21.05,47.021-10.816,57.908-32.855
        C-30.528,585.541-29.778,582.368-29.805,579.49z"/>
    <path display="none" fill="#C65C3D" d="M-624.643,638.499c-0.108-5.202-1.386-10.134-4.465-14.864
        c-13.134-20.186-2.789-28.196-2.367-40.253c0.017-0.481,0.018-0.97,0-1.465c-0.155-4.532-1.813-9.69-6.603-16.267
        c-14.461-19.852-3.596-36.401,3.292-58.822c-5.376-1.414-11.011-2.639-16.873-3.572c-5.149-0.827-10.478-1.432-15.951-1.741
        c-6.381-0.377-12.958-0.354-19.692,0.162c-4.208,12.717-9.247,23.606-9.332,34.479c-0.053,6.828,1.848,13.649,7.137,20.911
        c13.598,18.668,1.954,25.914,2.343,39.835c0.138,4.939,1.792,10.72,6.626,18.149c14.148,21.743-9.758,47.729-10.282,84.711
        c-0.075,5.283,0.328,10.791,1.386,16.543c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
        c5.802-0.357,11.355-0.91,16.536-1.563C-641.37,682.9-624.222,658.667-624.643,638.499z"/>
    <path display="none" fill="#D1D3D4" d="M-432.575,607.988c-0.641-10.462,7.008-21.057,10.499-25.896
        c2.183-3.024,2.67-11.593,2.709-21.593c0.024-5.99-0.112-12.495-0.141-18.63c-0.044-8.752,0.063-29.031,0.168-46.032
        c-0.009-0.003-0.007-0.01-0.002-0.018c-0.647-3.034-2.597-4.548-4.574-4.564c-2.413-0.02-4.867,2.191-5.051,6.592
        c-0.382,8.943-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.701-8.978-0.561c0.063-9.264,1.479-26.83,1.851-35.543
        c0.188-4.359-1.664-6.695-3.644-6.825c-1.979-0.13-4.088,1.946-4.415,6.412c-0.658,8.921-1.761,24.028-2.597,35.396
        c-0.838,11.379-10.865,8.589-10.068-0.63c0.787-9.216,3.029-35.378,3.029-35.378c0.434-5.018-1.498-7.393-3.714-7.471
        c-2.298-0.081-4.902,2.308-5.494,6.78c-0.006,0.034-0.012,0.073-0.019,0.116c-2.762,22.578-6.082,52.587-6.284,67.889
        c-0.053,4.015,0.108,7.018,0.551,8.607c3.359,12.051,15.283,16.91,18.613,24.131c3.328,7.226,7.621,15.092,8.335,32.152
        c0.722,17.063-3.428,144.016-3.428,144.016c5.09,3.308,10.588,4.373,15.721,4.304c7.541-0.102,14.292-2.652,17.799-4.136
        C-422.644,702.492-431.93,618.443-432.575,607.988z"/>
    <path display="none" fill="#DD874A" d="M-660.584,876.096c0.938,21.295-18.452,47.106-14.087,82.279
        c-4.842,0.297-9.853,0.465-14.966,0.439c-0.825-4.892-1.179-9.605-1.174-14.153c0.039-37.584,24.582-63.879,10.286-85.845
        c-4.615-7.092-6.331-12.681-6.598-17.471c-0.8-14.369,11.447-21.544-2.371-40.514c-5.011-6.879-6.982-13.361-7.131-19.829
        c-0.274-11.901,5.621-23.752,10.091-37.928c5.473,0.31,10.801,0.914,15.951,1.741c-6.883,22.615-17.949,39.248-3.409,59.213
        c4.606,6.323,6.316,11.336,6.579,15.741c0.788,13.218-11.452,20.97,2.392,42.244C-662.099,866.508-660.8,871.182-660.584,876.096z
        M-624.635,783.07h-0.007v0.007h0.007V783.07z"/>
    <path display="none" fill="#F89B47" d="M-604.635,672.3c4.412-4.494,13.671-7.187,21.765-7.221c2.698-0.012,5.267,0.272,7.483,0.883
        c-2.952,8.618-8.974,12.969-8.974,12.969C-588.655,678.972-599.536,677.305-604.635,672.3z M-489.435,672.002h-0.007v0.007h0.007
        V672.002z"/>
    <path display="none" fill="#F89B47" d="M-177.271,512.667c-0.612,11.157-18.105,18.605-35.386,18.577
        c-12.017-0.02-23.931-3.655-29.994-12.173c-2.118-2.976-3.098-5.788-3.151-8.397c-0.235-11.369,17.116-18.869,34.514-19.08
        c12.833-0.155,25.692,3.655,31.535,12.805C-177.887,507.321-177.129,510.093-177.271,512.667z M-29.804,511.413h-0.007v0.007h0.007
        V511.413z"/>
    <path display="none" fill="#E6E7E8" d="M-275.44,553.64l-0.02,0.21l-4.13,44.551l-0.02,0.229l-7.64,82.54
        c0,4.55-18.89,8.24-42.2,8.24c-23.3,0-42.2-3.69-42.2-8.24l-7.63-82.51l-0.03-0.26v-0.011l-4.11-44.54l-0.02-0.21
        c0-4.55,24.17-8.229,53.99-8.229C-299.62,545.41-275.44,549.09-275.44,553.64z M-379.39,535.22c0.04,0.46,0.12,0.45,0.23,0.29
        c0,0,0-0.01,0.01-0.02c0.03-0.09,0.09-0.181,0.15-0.271c2.76-4.12,23.89-7.31,49.55-7.31c25.72,0,46.88,3.21,49.57,7.34
        c0.05,0.11,0.1,0.2,0.15,0.27c0.11,0.181,0.18,0.171,0.22-0.27l3.95-42.61c0.04-0.43-0.08-0.5-0.29-0.25
        c-0.03,0.03-0.06,0.07-0.09,0.11c-3.59,4.02-26.17,7.11-53.51,7.11c-27.81,0-50.72-3.21-53.67-7.33c-0.02-0.03-0.04-0.061-0.06-0.09
        c-0.04-0.061-0.07-0.12-0.11-0.181c0-0.02-0.01-0.029-0.02-0.04c-0.05-0.04-0.07,0.05-0.03,0.471L-379.39,535.22z"/>
    <path display="none" fill="#F89B47" d="M-275.44,810.06v0.011h-0.01v-0.011H-275.44z M-333.59,709.29
        c-27.51,0-49.83,3.67-49.85,8.22v0.01l0.02,0.261c0.83,4.43,22.83,7.97,49.83,7.97c27.07,0,49.09-3.56,49.84-8l0.02-0.23
        C-283.73,712.97-306.05,709.29-333.59,709.29z M-283.94,732.61c-0.01,0-0.01,0.01-0.02,0.02c-0.04,0.09-0.1,0.17-0.17,0.26
        c-3.11,4.061-24.06,7.19-49.46,7.19c-25.08,0-45.85-3.061-49.33-7.05c-0.02-0.021-0.04-0.05-0.06-0.07
        c-0.05-0.06-0.1-0.11-0.13-0.17c-0.02-0.03-0.04-0.05-0.05-0.07c-0.13-0.13-0.21-0.12-0.16,0.41l7.53,81.49
        c0,4.55,18.9,8.229,42.2,8.229c23.32,0,42.21-3.68,42.21-8.229l7.56-81.73c0.01-0.09,0.01-0.149,0.01-0.21
        C-283.81,732.49-283.86,732.5-283.94,732.61z"/>
    <!-- Finish Bacon SVG -->


    <!-- Start Egg SVG -->
    <g class="element" id="egg">
        <path fill="#ECBEAA" d="M304.636,299.772c0,38.928-31.557,70.485-70.485,70.485c-38.928,0-70.485-31.557-70.485-70.485
            c0-38.928,31.557-104.491,70.485-104.491C273.079,195.281,304.636,260.844,304.636,299.772z"/>
        <path fill="#F89B47" d="M232.612,321.063c7.197-7.333,24.942-10.745,35.791-7.755c-3.611,10.545-10.981,15.87-10.981,15.87
            C252.167,329.227,238.853,327.188,232.612,321.063z"/>
        <path fill="#58595B" d="M224.117,312.555c0.014,1.498-1.189,2.724-2.688,2.738c-1.499,0.014-2.725-1.189-2.739-2.687
            c-0.014-1.499,1.189-2.725,2.688-2.739S224.103,311.056,224.117,312.555z M275.404,301.563c-1.499,0.014-2.702,1.24-2.688,2.739
            c0.014,1.498,1.24,2.702,2.739,2.688c1.498-0.014,2.701-1.241,2.687-2.738C278.128,302.753,276.901,301.549,275.404,301.563z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#ECBEAA" d="M-489.435,332.783c0,31.811-25.788,57.599-57.6,57.599c-31.811,0-57.6-25.788-57.6-57.599
            c0-31.813,25.789-85.39,57.6-85.39C-515.223,247.394-489.435,300.971-489.435,332.783z"/>
        <path display="inline" fill="#F89B47" d="M-548.292,350.182c5.882-5.993,20.383-8.781,29.248-6.337
            c-2.952,8.618-8.974,12.969-8.974,12.969C-532.312,356.853-543.192,355.187-548.292,350.182z"/>
        <path display="inline" fill="#58595B" d="M-555.234,343.229c0.011,1.224-0.972,2.226-2.196,2.237
            c-1.225,0.012-2.226-0.972-2.238-2.196c-0.012-1.225,0.972-2.227,2.197-2.238C-556.248,341.021-555.246,342.004-555.234,343.229z
            M-513.323,334.247c-1.225,0.011-2.208,1.014-2.196,2.238s1.014,2.208,2.238,2.196c1.224-0.011,2.208-1.014,2.196-2.238
            C-511.097,335.219-512.099,334.235-513.323,334.247z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#E0D4CA" d="M-70.229,337.918c-20.829,5.228-37.473-0.357-54.976-5.671
            c-17.502-5.314-38.927-14.143-57.857-13.12c-18.929,1.021-22.45,12.765-36.306,22.825c-13.856,10.059-27.911,8.591-26.311,36.77
            c0.775,13.649,21.073,18.624,38.068,14.413s31.563-3.48,46.583,8.821c15.02,12.3,43.842,17.406,70.888-3.643
            c27.045-21.049,47.021-10.815,57.908-32.854C-21.345,343.418-49.398,332.69-70.229,337.918z"/>
        <path display="inline" fill="#F89B47" d="M-174.877,369.706c-18.155-25.507,47.316-39.07,62.897-14.672
            C-96.399,379.433-158.084,393.299-174.877,369.706z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#C65C3D" d="M-629.108,351.105c-18.458-28.366,9.455-32.691-8.97-57.984
            c-14.461-19.851-3.596-36.401,3.292-58.822c-5.376-1.415-11.011-2.638-16.873-3.572c-5.149-0.828-10.478-1.432-15.951-1.742
            c-6.381-0.377-12.958-0.354-19.692,0.162c-6.851,20.704-15.905,36.566-2.195,55.39c18.424,25.293-9.489,29.618,8.97,57.985
            c16.17,24.85-17.365,55.24-8.896,101.253c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
            c5.802-0.357,11.355-0.91,16.536-1.563C-641.927,402.026-614.09,374.176-629.108,351.105z"/>
        <path display="inline" fill="#DD874A" d="M-646.097,347.925c-18.458-28.367,9.454-32.691-8.97-57.985
            c-14.54-19.966-3.474-36.599,3.409-59.213c-5.149-0.828-10.478-1.432-15.951-1.742c-6.9,21.879-17.193,38.22-2.96,57.757
            c18.424,25.292-9.489,29.618,8.969,57.984c16.025,24.624-16.757,54.689-9.112,99.998c5.113,0.025,10.124-0.143,14.966-0.439
            C-661.118,400.995-630.508,371.887-646.097,347.925z"/>
    </g>
    <path display="none" fill="#D1D3D4" d="M-432.575,287.496c-0.641-10.462,7.008-21.056,10.499-25.896
        c3.491-4.837,2.644-23.848,2.569-40.223c-0.044-8.752,0.063-29.031,0.168-46.032c-0.009-0.003-0.007-0.01-0.002-0.018
        c-1.438-6.736-9.291-5.979-9.625,2.027c-0.382,8.944-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.702-8.978-0.561
        c0.063-9.264,1.479-26.83,1.851-35.542c0.375-8.718-7.404-9.343-8.058-0.413c-0.658,8.921-1.761,24.029-2.597,35.396
        c-0.838,11.378-10.865,8.588-10.068-0.63c0.787-9.215,3.029-35.377,3.029-35.377c0.884-10.221-8.046-9.477-9.208-0.691
        c-0.006,0.035-0.012,0.074-0.019,0.116c-3.487,28.503-7.862,68.847-5.733,76.497c3.359,12.05,15.283,16.91,18.613,24.13
        c3.328,7.226,7.621,15.092,8.335,32.152c0.722,17.063-3.428,144.016-3.428,144.016c12.57,8.168,27.626,2.66,33.52,0.168
        C-422.644,382-431.93,297.951-432.575,287.496z"/>
    <g display="none">
        <path display="inline" fill="#E6E7E8" d="M-329.447,262.62c-29.82,0-53.997,3.685-53.997,8.232l0.021,0.213l4.117,44.542v0.006
            l0.028,0.261l7.63,82.514c0,4.547,18.895,8.232,42.201,8.232c23.312,0,42.201-3.685,42.201-8.232l7.637-82.542l0.021-0.234
            l4.125-44.548l0.02-0.213C-275.444,266.304-299.62,262.62-329.447,262.62z"/>
        <path display="inline" fill="#F1F2F2" d="M-275.464,271.064l-4.125,44.548c0-4.547-22.319-8.231-49.858-8.231
            c-27.519,0-49.838,3.678-49.859,8.225l-4.117-44.542c0.735,4.448,24.619,8.018,53.976,8.018
            C-300.083,279.083-276.2,275.512-275.464,271.064z"/>
        <path display="inline" fill="#F89B47" d="M-287.247,398.388c0,4.547-18.889,8.232-42.201,8.232
            c-23.306,0-42.201-3.685-42.201-8.232l-7.63-82.514c0.83,4.426,22.822,7.97,49.831,7.97c27.07,0,49.089-3.558,49.837-7.998
            L-287.247,398.388z"/>
        <path display="inline" fill="#FBB87B" d="M-279.589,315.612l-0.021,0.234c-0.749,4.44-22.768,7.998-49.837,7.998
            c-27.009,0-49.001-3.544-49.831-7.97l-0.028-0.261v-0.006c0.021-4.547,22.34-8.225,49.859-8.225
            C-301.909,307.381-279.589,311.065-279.589,315.612z"/>
    </g>
    <path display="none" fill="#ECBEAA" d="M-489.435,585.216c0,31.811-25.788,57.6-57.6,57.6c-31.811,0-57.6-25.789-57.6-57.6
        c0-31.813,25.789-85.39,57.6-85.39C-515.223,499.826-489.435,553.403-489.435,585.216z"/>
    <path display="none" fill="#E0D4CA" d="M-29.805,579.49c-0.116-12.417-14.699-19.342-29.528-19.345
        c-3.69-0.001-7.395,0.427-10.896,1.306c-20.829,5.229-37.473-0.356-54.976-5.671c-17.502-5.314-38.927-14.143-57.857-13.12
        c-18.929,1.021-22.45,12.766-36.306,22.824c-13.056,9.479-26.288,8.723-26.434,32.174c-0.009,1.438,0.031,2.968,0.124,4.596
        c0.588,10.357,12.417,15.72,25.513,15.865c4.164,0.046,8.455-0.436,12.555-1.451c16.995-4.211,31.563-3.48,46.583,8.82
        c7.663,6.274,18.917,10.678,31.696,10.69c12.27,0.013,25.944-4.022,39.192-14.333c27.045-21.05,47.021-10.816,57.908-32.855
        C-30.528,585.541-29.778,582.368-29.805,579.49z"/>
    <path display="none" fill="#C65C3D" d="M-624.643,638.499c-0.108-5.202-1.386-10.134-4.465-14.864
        c-13.134-20.186-2.789-28.196-2.367-40.253c0.017-0.481,0.018-0.97,0-1.465c-0.155-4.532-1.813-9.69-6.603-16.267
        c-14.461-19.852-3.596-36.401,3.292-58.822c-5.376-1.414-11.011-2.639-16.873-3.572c-5.149-0.827-10.478-1.432-15.951-1.741
        c-6.381-0.377-12.958-0.354-19.692,0.162c-4.208,12.717-9.247,23.606-9.332,34.479c-0.053,6.828,1.848,13.649,7.137,20.911
        c13.598,18.668,1.954,25.914,2.343,39.835c0.138,4.939,1.792,10.72,6.626,18.149c14.148,21.743-9.758,47.729-10.282,84.711
        c-0.075,5.283,0.328,10.791,1.386,16.543c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
        c5.802-0.357,11.355-0.91,16.536-1.563C-641.37,682.9-624.222,658.667-624.643,638.499z"/>
    <path display="none" fill="#D1D3D4" d="M-432.575,607.988c-0.641-10.462,7.008-21.057,10.499-25.896
        c2.183-3.024,2.67-11.593,2.709-21.593c0.024-5.99-0.112-12.495-0.141-18.63c-0.044-8.752,0.063-29.031,0.168-46.032
        c-0.009-0.003-0.007-0.01-0.002-0.018c-0.647-3.034-2.597-4.548-4.574-4.564c-2.413-0.02-4.867,2.191-5.051,6.592
        c-0.382,8.943-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.701-8.978-0.561c0.063-9.264,1.479-26.83,1.851-35.543
        c0.188-4.359-1.664-6.695-3.644-6.825c-1.979-0.13-4.088,1.946-4.415,6.412c-0.658,8.921-1.761,24.028-2.597,35.396
        c-0.838,11.379-10.865,8.589-10.068-0.63c0.787-9.216,3.029-35.378,3.029-35.378c0.434-5.018-1.498-7.393-3.714-7.471
        c-2.298-0.081-4.902,2.308-5.494,6.78c-0.006,0.034-0.012,0.073-0.019,0.116c-2.762,22.578-6.082,52.587-6.284,67.889
        c-0.053,4.015,0.108,7.018,0.551,8.607c3.359,12.051,15.283,16.91,18.613,24.131c3.328,7.226,7.621,15.092,8.335,32.152
        c0.722,17.063-3.428,144.016-3.428,144.016c5.09,3.308,10.588,4.373,15.721,4.304c7.541-0.102,14.292-2.652,17.799-4.136
        C-422.644,702.492-431.93,618.443-432.575,607.988z"/>
    <path display="none" fill="#DD874A" d="M-660.584,876.096c0.938,21.295-18.452,47.106-14.087,82.279
        c-4.842,0.297-9.853,0.465-14.966,0.439c-0.825-4.892-1.179-9.605-1.174-14.153c0.039-37.584,24.582-63.879,10.286-85.845
        c-4.615-7.092-6.331-12.681-6.598-17.471c-0.8-14.369,11.447-21.544-2.371-40.514c-5.011-6.879-6.982-13.361-7.131-19.829
        c-0.274-11.901,5.621-23.752,10.091-37.928c5.473,0.31,10.801,0.914,15.951,1.741c-6.883,22.615-17.949,39.248-3.409,59.213
        c4.606,6.323,6.316,11.336,6.579,15.741c0.788,13.218-11.452,20.97,2.392,42.244C-662.099,866.508-660.8,871.182-660.584,876.096z
        M-624.635,783.07h-0.007v0.007h0.007V783.07z"/>
    <path display="none" fill="#F89B47" d="M-604.635,672.3c4.412-4.494,13.671-7.187,21.765-7.221c2.698-0.012,5.267,0.272,7.483,0.883
        c-2.952,8.618-8.974,12.969-8.974,12.969C-588.655,678.972-599.536,677.305-604.635,672.3z M-489.435,672.002h-0.007v0.007h0.007
        V672.002z"/>
    <path display="none" fill="#F89B47" d="M-177.271,512.667c-0.612,11.157-18.105,18.605-35.386,18.577
        c-12.017-0.02-23.931-3.655-29.994-12.173c-2.118-2.976-3.098-5.788-3.151-8.397c-0.235-11.369,17.116-18.869,34.514-19.08
        c12.833-0.155,25.692,3.655,31.535,12.805C-177.887,507.321-177.129,510.093-177.271,512.667z M-29.804,511.413h-0.007v0.007h0.007
        V511.413z"/>
    <path display="none" fill="#E6E7E8" d="M-275.44,553.64l-0.02,0.21l-4.13,44.551l-0.02,0.229l-7.64,82.54
        c0,4.55-18.89,8.24-42.2,8.24c-23.3,0-42.2-3.69-42.2-8.24l-7.63-82.51l-0.03-0.26v-0.011l-4.11-44.54l-0.02-0.21
        c0-4.55,24.17-8.229,53.99-8.229C-299.62,545.41-275.44,549.09-275.44,553.64z M-379.39,535.22c0.04,0.46,0.12,0.45,0.23,0.29
        c0,0,0-0.01,0.01-0.02c0.03-0.09,0.09-0.181,0.15-0.271c2.76-4.12,23.89-7.31,49.55-7.31c25.72,0,46.88,3.21,49.57,7.34
        c0.05,0.11,0.1,0.2,0.15,0.27c0.11,0.181,0.18,0.171,0.22-0.27l3.95-42.61c0.04-0.43-0.08-0.5-0.29-0.25
        c-0.03,0.03-0.06,0.07-0.09,0.11c-3.59,4.02-26.17,7.11-53.51,7.11c-27.81,0-50.72-3.21-53.67-7.33c-0.02-0.03-0.04-0.061-0.06-0.09
        c-0.04-0.061-0.07-0.12-0.11-0.181c0-0.02-0.01-0.029-0.02-0.04c-0.05-0.04-0.07,0.05-0.03,0.471L-379.39,535.22z"/>
    <path display="none" fill="#F89B47" d="M-275.44,810.06v0.011h-0.01v-0.011H-275.44z M-333.59,709.29
        c-27.51,0-49.83,3.67-49.85,8.22v0.01l0.02,0.261c0.83,4.43,22.83,7.97,49.83,7.97c27.07,0,49.09-3.56,49.84-8l0.02-0.23
        C-283.73,712.97-306.05,709.29-333.59,709.29z M-283.94,732.61c-0.01,0-0.01,0.01-0.02,0.02c-0.04,0.09-0.1,0.17-0.17,0.26
        c-3.11,4.061-24.06,7.19-49.46,7.19c-25.08,0-45.85-3.061-49.33-7.05c-0.02-0.021-0.04-0.05-0.06-0.07
        c-0.05-0.06-0.1-0.11-0.13-0.17c-0.02-0.03-0.04-0.05-0.05-0.07c-0.13-0.13-0.21-0.12-0.16,0.41l7.53,81.49
        c0,4.55,18.9,8.229,42.2,8.229c23.32,0,42.21-3.68,42.21-8.229l7.56-81.73c0.01-0.09,0.01-0.149,0.01-0.21
        C-283.81,732.49-283.86,732.5-283.94,732.61z"/>
    <!-- Finish Egg SVG -->

    <!-- Start Fork SVG -->
    <path class="element" id="fork" fill="#D1D3D4" d="M481.79,498.416c-2.254-13.614,5.856-28.501,9.557-35.301c3.702-6.798,0.004-31.579-2.361-53.012
	c-1.27-11.454-3.949-38.023-6.177-60.299c-0.011-0.003-0.01-0.013-0.005-0.023c-2.735-8.63-12.466-6.596-11.775,3.932
	c0.763,11.763,2.256,34.565,3.053,46.648c0.785,12.081-10.116,12.594-11.323,0.457c-1.205-12.139-1.869-35.328-2.611-46.787
	c-0.741-11.465-10.571-11.252-10.151,0.529c0.414,11.77,1.128,31.698,1.658,46.693c0.528,15.01-12.416,12.688-12.697,0.511
	c-0.294-12.171-1.114-46.727-1.114-46.727c-0.311-13.502-11.393-11.341-11.629,0.317c-0.002,0.046-0.005,0.098-0.008,0.154
	c-0.413,37.787-0.297,91.196,3.431,100.93c5.879,15.333,21.488,20.115,26.661,29.127c5.17,9.021,11.639,18.751,14.9,40.996
	c3.271,22.247,15.685,189.038,15.685,189.038c16.878,9.027,34.973-0.184,42.008-4.229
	C507.339,620.847,484.048,512.021,481.79,498.416z"/>
    <g display="none">
        <path display="inline" fill="#ECBEAA" d="M-489.435,332.783c0,31.811-25.788,57.599-57.6,57.599c-31.811,0-57.6-25.788-57.6-57.599
            c0-31.813,25.789-85.39,57.6-85.39C-515.223,247.394-489.435,300.971-489.435,332.783z"/>
        <path display="inline" fill="#F89B47" d="M-548.292,350.182c5.882-5.993,20.383-8.781,29.248-6.337
            c-2.952,8.618-8.974,12.969-8.974,12.969C-532.312,356.853-543.192,355.187-548.292,350.182z"/>
        <path display="inline" fill="#58595B" d="M-555.234,343.229c0.011,1.224-0.972,2.226-2.196,2.237
            c-1.225,0.012-2.226-0.972-2.238-2.196c-0.012-1.225,0.972-2.227,2.197-2.238C-556.248,341.021-555.246,342.004-555.234,343.229z
            M-513.323,334.247c-1.225,0.011-2.208,1.014-2.196,2.238s1.014,2.208,2.238,2.196c1.224-0.011,2.208-1.014,2.196-2.238
            C-511.097,335.219-512.099,334.235-513.323,334.247z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#E0D4CA" d="M-70.229,337.918c-20.829,5.228-37.473-0.357-54.976-5.671
            c-17.502-5.314-38.927-14.143-57.857-13.12c-18.929,1.021-22.45,12.765-36.306,22.825c-13.856,10.059-27.911,8.591-26.311,36.77
            c0.775,13.649,21.073,18.624,38.068,14.413s31.563-3.48,46.583,8.821c15.02,12.3,43.842,17.406,70.888-3.643
            c27.045-21.049,47.021-10.815,57.908-32.854C-21.345,343.418-49.398,332.69-70.229,337.918z"/>
        <path display="inline" fill="#F89B47" d="M-174.877,369.706c-18.155-25.507,47.316-39.07,62.897-14.672
            C-96.399,379.433-158.084,393.299-174.877,369.706z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#C65C3D" d="M-629.108,351.105c-18.458-28.366,9.455-32.691-8.97-57.984
            c-14.461-19.851-3.596-36.401,3.292-58.822c-5.376-1.415-11.011-2.638-16.873-3.572c-5.149-0.828-10.478-1.432-15.951-1.742
            c-6.381-0.377-12.958-0.354-19.692,0.162c-6.851,20.704-15.905,36.566-2.195,55.39c18.424,25.293-9.489,29.618,8.97,57.985
            c16.17,24.85-17.365,55.24-8.896,101.253c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
            c5.802-0.357,11.355-0.91,16.536-1.563C-641.927,402.026-614.09,374.176-629.108,351.105z"/>
        <path display="inline" fill="#DD874A" d="M-646.097,347.925c-18.458-28.367,9.454-32.691-8.97-57.985
            c-14.54-19.966-3.474-36.599,3.409-59.213c-5.149-0.828-10.478-1.432-15.951-1.742c-6.9,21.879-17.193,38.22-2.96,57.757
            c18.424,25.292-9.489,29.618,8.969,57.984c16.025,24.624-16.757,54.689-9.112,99.998c5.113,0.025,10.124-0.143,14.966-0.439
            C-661.118,400.995-630.508,371.887-646.097,347.925z"/>
    </g>
    <path display="none" fill="#D1D3D4" d="M-432.575,287.496c-0.641-10.462,7.008-21.056,10.499-25.896
        c3.491-4.837,2.644-23.848,2.569-40.223c-0.044-8.752,0.063-29.031,0.168-46.032c-0.009-0.003-0.007-0.01-0.002-0.018
        c-1.438-6.736-9.291-5.979-9.625,2.027c-0.382,8.944-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.702-8.978-0.561
        c0.063-9.264,1.479-26.83,1.851-35.542c0.375-8.718-7.404-9.343-8.058-0.413c-0.658,8.921-1.761,24.029-2.597,35.396
        c-0.838,11.378-10.865,8.588-10.068-0.63c0.787-9.215,3.029-35.377,3.029-35.377c0.884-10.221-8.046-9.477-9.208-0.691
        c-0.006,0.035-0.012,0.074-0.019,0.116c-3.487,28.503-7.862,68.847-5.733,76.497c3.359,12.05,15.283,16.91,18.613,24.13
        c3.328,7.226,7.621,15.092,8.335,32.152c0.722,17.063-3.428,144.016-3.428,144.016c12.57,8.168,27.626,2.66,33.52,0.168
        C-422.644,382-431.93,297.951-432.575,287.496z"/>
    <g display="none">
        <path display="inline" fill="#E6E7E8" d="M-329.447,262.62c-29.82,0-53.997,3.685-53.997,8.232l0.021,0.213l4.117,44.542v0.006
            l0.028,0.261l7.63,82.514c0,4.547,18.895,8.232,42.201,8.232c23.312,0,42.201-3.685,42.201-8.232l7.637-82.542l0.021-0.234
            l4.125-44.548l0.02-0.213C-275.444,266.304-299.62,262.62-329.447,262.62z"/>
        <path display="inline" fill="#F1F2F2" d="M-275.464,271.064l-4.125,44.548c0-4.547-22.319-8.231-49.858-8.231
            c-27.519,0-49.838,3.678-49.859,8.225l-4.117-44.542c0.735,4.448,24.619,8.018,53.976,8.018
            C-300.083,279.083-276.2,275.512-275.464,271.064z"/>
        <path display="inline" fill="#F89B47" d="M-287.247,398.388c0,4.547-18.889,8.232-42.201,8.232
            c-23.306,0-42.201-3.685-42.201-8.232l-7.63-82.514c0.83,4.426,22.822,7.97,49.831,7.97c27.07,0,49.089-3.558,49.837-7.998
            L-287.247,398.388z"/>
        <path display="inline" fill="#FBB87B" d="M-279.589,315.612l-0.021,0.234c-0.749,4.44-22.768,7.998-49.837,7.998
            c-27.009,0-49.001-3.544-49.831-7.97l-0.028-0.261v-0.006c0.021-4.547,22.34-8.225,49.859-8.225
            C-301.909,307.381-279.589,311.065-279.589,315.612z"/>
    </g>
    <path display="none" fill="#ECBEAA" d="M-489.435,585.216c0,31.811-25.788,57.6-57.6,57.6c-31.811,0-57.6-25.789-57.6-57.6
        c0-31.813,25.789-85.39,57.6-85.39C-515.223,499.826-489.435,553.403-489.435,585.216z"/>
    <path display="none" fill="#E0D4CA" d="M-29.805,579.49c-0.116-12.417-14.699-19.342-29.528-19.345
        c-3.69-0.001-7.395,0.427-10.896,1.306c-20.829,5.229-37.473-0.356-54.976-5.671c-17.502-5.314-38.927-14.143-57.857-13.12
        c-18.929,1.021-22.45,12.766-36.306,22.824c-13.056,9.479-26.288,8.723-26.434,32.174c-0.009,1.438,0.031,2.968,0.124,4.596
        c0.588,10.357,12.417,15.72,25.513,15.865c4.164,0.046,8.455-0.436,12.555-1.451c16.995-4.211,31.563-3.48,46.583,8.82
        c7.663,6.274,18.917,10.678,31.696,10.69c12.27,0.013,25.944-4.022,39.192-14.333c27.045-21.05,47.021-10.816,57.908-32.855
        C-30.528,585.541-29.778,582.368-29.805,579.49z"/>
    <path display="none" fill="#C65C3D" d="M-624.643,638.499c-0.108-5.202-1.386-10.134-4.465-14.864
        c-13.134-20.186-2.789-28.196-2.367-40.253c0.017-0.481,0.018-0.97,0-1.465c-0.155-4.532-1.813-9.69-6.603-16.267
        c-14.461-19.852-3.596-36.401,3.292-58.822c-5.376-1.414-11.011-2.639-16.873-3.572c-5.149-0.827-10.478-1.432-15.951-1.741
        c-6.381-0.377-12.958-0.354-19.692,0.162c-4.208,12.717-9.247,23.606-9.332,34.479c-0.053,6.828,1.848,13.649,7.137,20.911
        c13.598,18.668,1.954,25.914,2.343,39.835c0.138,4.939,1.792,10.72,6.626,18.149c14.148,21.743-9.758,47.729-10.282,84.711
        c-0.075,5.283,0.328,10.791,1.386,16.543c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
        c5.802-0.357,11.355-0.91,16.536-1.563C-641.37,682.9-624.222,658.667-624.643,638.499z"/>
    <path display="none" fill="#D1D3D4" d="M-432.575,607.988c-0.641-10.462,7.008-21.057,10.499-25.896
        c2.183-3.024,2.67-11.593,2.709-21.593c0.024-5.99-0.112-12.495-0.141-18.63c-0.044-8.752,0.063-29.031,0.168-46.032
        c-0.009-0.003-0.007-0.01-0.002-0.018c-0.647-3.034-2.597-4.548-4.574-4.564c-2.413-0.02-4.867,2.191-5.051,6.592
        c-0.382,8.943-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.701-8.978-0.561c0.063-9.264,1.479-26.83,1.851-35.543
        c0.188-4.359-1.664-6.695-3.644-6.825c-1.979-0.13-4.088,1.946-4.415,6.412c-0.658,8.921-1.761,24.028-2.597,35.396
        c-0.838,11.379-10.865,8.589-10.068-0.63c0.787-9.216,3.029-35.378,3.029-35.378c0.434-5.018-1.498-7.393-3.714-7.471
        c-2.298-0.081-4.902,2.308-5.494,6.78c-0.006,0.034-0.012,0.073-0.019,0.116c-2.762,22.578-6.082,52.587-6.284,67.889
        c-0.053,4.015,0.108,7.018,0.551,8.607c3.359,12.051,15.283,16.91,18.613,24.131c3.328,7.226,7.621,15.092,8.335,32.152
        c0.722,17.063-3.428,144.016-3.428,144.016c5.09,3.308,10.588,4.373,15.721,4.304c7.541-0.102,14.292-2.652,17.799-4.136
        C-422.644,702.492-431.93,618.443-432.575,607.988z"/>
    <path display="none" fill="#DD874A" d="M-660.584,876.096c0.938,21.295-18.452,47.106-14.087,82.279
        c-4.842,0.297-9.853,0.465-14.966,0.439c-0.825-4.892-1.179-9.605-1.174-14.153c0.039-37.584,24.582-63.879,10.286-85.845
        c-4.615-7.092-6.331-12.681-6.598-17.471c-0.8-14.369,11.447-21.544-2.371-40.514c-5.011-6.879-6.982-13.361-7.131-19.829
        c-0.274-11.901,5.621-23.752,10.091-37.928c5.473,0.31,10.801,0.914,15.951,1.741c-6.883,22.615-17.949,39.248-3.409,59.213
        c4.606,6.323,6.316,11.336,6.579,15.741c0.788,13.218-11.452,20.97,2.392,42.244C-662.099,866.508-660.8,871.182-660.584,876.096z
        M-624.635,783.07h-0.007v0.007h0.007V783.07z"/>
    <path display="none" fill="#F89B47" d="M-604.635,672.3c4.412-4.494,13.671-7.187,21.765-7.221c2.698-0.012,5.267,0.272,7.483,0.883
        c-2.952,8.618-8.974,12.969-8.974,12.969C-588.655,678.972-599.536,677.305-604.635,672.3z M-489.435,672.002h-0.007v0.007h0.007
        V672.002z"/>
    <path display="none" fill="#F89B47" d="M-177.271,512.667c-0.612,11.157-18.105,18.605-35.386,18.577
        c-12.017-0.02-23.931-3.655-29.994-12.173c-2.118-2.976-3.098-5.788-3.151-8.397c-0.235-11.369,17.116-18.869,34.514-19.08
        c12.833-0.155,25.692,3.655,31.535,12.805C-177.887,507.321-177.129,510.093-177.271,512.667z M-29.804,511.413h-0.007v0.007h0.007
        V511.413z"/>
    <path display="none" fill="#E6E7E8" d="M-275.44,553.64l-0.02,0.21l-4.13,44.551l-0.02,0.229l-7.64,82.54
        c0,4.55-18.89,8.24-42.2,8.24c-23.3,0-42.2-3.69-42.2-8.24l-7.63-82.51l-0.03-0.26v-0.011l-4.11-44.54l-0.02-0.21
        c0-4.55,24.17-8.229,53.99-8.229C-299.62,545.41-275.44,549.09-275.44,553.64z M-379.39,535.22c0.04,0.46,0.12,0.45,0.23,0.29
        c0,0,0-0.01,0.01-0.02c0.03-0.09,0.09-0.181,0.15-0.271c2.76-4.12,23.89-7.31,49.55-7.31c25.72,0,46.88,3.21,49.57,7.34
        c0.05,0.11,0.1,0.2,0.15,0.27c0.11,0.181,0.18,0.171,0.22-0.27l3.95-42.61c0.04-0.43-0.08-0.5-0.29-0.25
        c-0.03,0.03-0.06,0.07-0.09,0.11c-3.59,4.02-26.17,7.11-53.51,7.11c-27.81,0-50.72-3.21-53.67-7.33c-0.02-0.03-0.04-0.061-0.06-0.09
        c-0.04-0.061-0.07-0.12-0.11-0.181c0-0.02-0.01-0.029-0.02-0.04c-0.05-0.04-0.07,0.05-0.03,0.471L-379.39,535.22z"/>
    <path display="none" fill="#F89B47" d="M-275.44,810.06v0.011h-0.01v-0.011H-275.44z M-333.59,709.29
        c-27.51,0-49.83,3.67-49.85,8.22v0.01l0.02,0.261c0.83,4.43,22.83,7.97,49.83,7.97c27.07,0,49.09-3.56,49.84-8l0.02-0.23
        C-283.73,712.97-306.05,709.29-333.59,709.29z M-283.94,732.61c-0.01,0-0.01,0.01-0.02,0.02c-0.04,0.09-0.1,0.17-0.17,0.26
        c-3.11,4.061-24.06,7.19-49.46,7.19c-25.08,0-45.85-3.061-49.33-7.05c-0.02-0.021-0.04-0.05-0.06-0.07
        c-0.05-0.06-0.1-0.11-0.13-0.17c-0.02-0.03-0.04-0.05-0.05-0.07c-0.13-0.13-0.21-0.12-0.16,0.41l7.53,81.49
        c0,4.55,18.9,8.229,42.2,8.229c23.32,0,42.21-3.68,42.21-8.229l7.56-81.73c0.01-0.09,0.01-0.149,0.01-0.21
        C-283.81,732.49-283.86,732.5-283.94,732.61z"/>
    <!-- End Fork SVG -->

    <!-- Start Orange Juice SVG -->
    <g class="element" id="orange-juice">
        <path fill="#E6E7E8" d="M578.213,208.181c-40.788,0-73.858,5.13-73.858,11.461l0.028,0.297l5.632,62.016v0.009l0.038,0.363
            l10.437,114.888c0,6.331,25.845,11.461,57.724,11.461c31.887,0,57.723-5.13,57.723-11.461l10.446-114.925l0.027-0.326l5.644-62.025
            l0.026-0.297C652.079,213.311,619.011,208.181,578.213,208.181z"/>
        <path fill="#F1F2F2" d="M652.053,219.939l-5.644,62.025c0-6.331-30.528-11.461-68.196-11.461c-37.642,0-68.17,5.121-68.198,11.452
            l-5.632-62.016c1.006,6.192,33.675,11.163,73.83,11.163C618.377,231.102,651.046,226.131,652.053,219.939z"/>
        <path fill="#F89B47" d="M635.936,397.215c0,6.331-25.836,11.461-57.723,11.461c-31.879,0-57.724-5.13-57.724-11.461
            l-10.437-114.888c1.136,6.164,31.217,11.098,68.16,11.098c37.026,0,67.145-4.953,68.169-11.135L635.936,397.215z"/>
        <path fill="#FBB87B" d="M646.409,281.964l-0.027,0.326c-1.024,6.182-31.143,11.135-68.169,11.135
            c-36.943,0-67.024-4.934-68.16-11.098l-0.038-0.363v-0.009c0.028-6.331,30.557-11.452,68.198-11.452
            C615.881,270.503,646.409,275.633,646.409,281.964z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#ECBEAA" d="M-489.435,332.783c0,31.811-25.788,57.599-57.6,57.599c-31.811,0-57.6-25.788-57.6-57.599
            c0-31.813,25.789-85.39,57.6-85.39C-515.223,247.394-489.435,300.971-489.435,332.783z"/>
        <path display="inline" fill="#F89B47" d="M-548.292,350.182c5.882-5.993,20.383-8.781,29.248-6.337
            c-2.952,8.618-8.974,12.969-8.974,12.969C-532.312,356.853-543.192,355.187-548.292,350.182z"/>
        <path display="inline" fill="#58595B" d="M-555.234,343.229c0.011,1.224-0.972,2.226-2.196,2.237
            c-1.225,0.012-2.226-0.972-2.238-2.196c-0.012-1.225,0.972-2.227,2.197-2.238C-556.248,341.021-555.246,342.004-555.234,343.229z
            M-513.323,334.247c-1.225,0.011-2.208,1.014-2.196,2.238s1.014,2.208,2.238,2.196c1.224-0.011,2.208-1.014,2.196-2.238
            C-511.097,335.219-512.099,334.235-513.323,334.247z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#E0D4CA" d="M-70.229,337.918c-20.829,5.228-37.473-0.357-54.976-5.671
            c-17.502-5.314-38.927-14.143-57.857-13.12c-18.929,1.021-22.45,12.765-36.306,22.825c-13.856,10.059-27.911,8.591-26.311,36.77
            c0.775,13.649,21.073,18.624,38.068,14.413s31.563-3.48,46.583,8.821c15.02,12.3,43.842,17.406,70.888-3.643
            c27.045-21.049,47.021-10.815,57.908-32.854C-21.345,343.418-49.398,332.69-70.229,337.918z"/>
        <path display="inline" fill="#F89B47" d="M-174.877,369.706c-18.155-25.507,47.316-39.07,62.897-14.672
            C-96.399,379.433-158.084,393.299-174.877,369.706z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#C65C3D" d="M-629.108,351.105c-18.458-28.366,9.455-32.691-8.97-57.984
            c-14.461-19.851-3.596-36.401,3.292-58.822c-5.376-1.415-11.011-2.638-16.873-3.572c-5.149-0.828-10.478-1.432-15.951-1.742
            c-6.381-0.377-12.958-0.354-19.692,0.162c-6.851,20.704-15.905,36.566-2.195,55.39c18.424,25.293-9.489,29.618,8.97,57.985
            c16.17,24.85-17.365,55.24-8.896,101.253c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
            c5.802-0.357,11.355-0.91,16.536-1.563C-641.927,402.026-614.09,374.176-629.108,351.105z"/>
        <path display="inline" fill="#DD874A" d="M-646.097,347.925c-18.458-28.367,9.454-32.691-8.97-57.985
            c-14.54-19.966-3.474-36.599,3.409-59.213c-5.149-0.828-10.478-1.432-15.951-1.742c-6.9,21.879-17.193,38.22-2.96,57.757
            c18.424,25.292-9.489,29.618,8.969,57.984c16.025,24.624-16.757,54.689-9.112,99.998c5.113,0.025,10.124-0.143,14.966-0.439
            C-661.118,400.995-630.508,371.887-646.097,347.925z"/>
    </g>
    <path display="none" fill="#D1D3D4" d="M-432.575,287.496c-0.641-10.462,7.008-21.056,10.499-25.896
        c3.491-4.837,2.644-23.848,2.569-40.223c-0.044-8.752,0.063-29.031,0.168-46.032c-0.009-0.003-0.007-0.01-0.002-0.018
        c-1.438-6.736-9.291-5.979-9.625,2.027c-0.382,8.944-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.702-8.978-0.561
        c0.063-9.264,1.479-26.83,1.851-35.542c0.375-8.718-7.404-9.343-8.058-0.413c-0.658,8.921-1.761,24.029-2.597,35.396
        c-0.838,11.378-10.865,8.588-10.068-0.63c0.787-9.215,3.029-35.377,3.029-35.377c0.884-10.221-8.046-9.477-9.208-0.691
        c-0.006,0.035-0.012,0.074-0.019,0.116c-3.487,28.503-7.862,68.847-5.733,76.497c3.359,12.05,15.283,16.91,18.613,24.13
        c3.328,7.226,7.621,15.092,8.335,32.152c0.722,17.063-3.428,144.016-3.428,144.016c12.57,8.168,27.626,2.66,33.52,0.168
        C-422.644,382-431.93,297.951-432.575,287.496z"/>
    <g display="none">
        <path display="inline" fill="#E6E7E8" d="M-329.447,262.62c-29.82,0-53.997,3.685-53.997,8.232l0.021,0.213l4.117,44.542v0.006
            l0.028,0.261l7.63,82.514c0,4.547,18.895,8.232,42.201,8.232c23.312,0,42.201-3.685,42.201-8.232l7.637-82.542l0.021-0.234
            l4.125-44.548l0.02-0.213C-275.444,266.304-299.62,262.62-329.447,262.62z"/>
        <path display="inline" fill="#F1F2F2" d="M-275.464,271.064l-4.125,44.548c0-4.547-22.319-8.231-49.858-8.231
            c-27.519,0-49.838,3.678-49.859,8.225l-4.117-44.542c0.735,4.448,24.619,8.018,53.976,8.018
            C-300.083,279.083-276.2,275.512-275.464,271.064z"/>
        <path display="inline" fill="#F89B47" d="M-287.247,398.388c0,4.547-18.889,8.232-42.201,8.232
            c-23.306,0-42.201-3.685-42.201-8.232l-7.63-82.514c0.83,4.426,22.822,7.97,49.831,7.97c27.07,0,49.089-3.558,49.837-7.998
            L-287.247,398.388z"/>
        <path display="inline" fill="#FBB87B" d="M-279.589,315.612l-0.021,0.234c-0.749,4.44-22.768,7.998-49.837,7.998
            c-27.009,0-49.001-3.544-49.831-7.97l-0.028-0.261v-0.006c0.021-4.547,22.34-8.225,49.859-8.225
            C-301.909,307.381-279.589,311.065-279.589,315.612z"/>
    </g>
    <path display="none" fill="#ECBEAA" d="M-489.435,585.216c0,31.811-25.788,57.6-57.6,57.6c-31.811,0-57.6-25.789-57.6-57.6
        c0-31.813,25.789-85.39,57.6-85.39C-515.223,499.826-489.435,553.403-489.435,585.216z"/>
    <path display="none" fill="#E0D4CA" d="M-29.805,579.49c-0.116-12.417-14.699-19.342-29.528-19.345
        c-3.69-0.001-7.395,0.427-10.896,1.306c-20.829,5.229-37.473-0.356-54.976-5.671c-17.502-5.314-38.927-14.143-57.857-13.12
        c-18.929,1.021-22.45,12.766-36.306,22.824c-13.056,9.479-26.288,8.723-26.434,32.174c-0.009,1.438,0.031,2.968,0.124,4.596
        c0.588,10.357,12.417,15.72,25.513,15.865c4.164,0.046,8.455-0.436,12.555-1.451c16.995-4.211,31.563-3.48,46.583,8.82
        c7.663,6.274,18.917,10.678,31.696,10.69c12.27,0.013,25.944-4.022,39.192-14.333c27.045-21.05,47.021-10.816,57.908-32.855
        C-30.528,585.541-29.778,582.368-29.805,579.49z"/>
    <path display="none" fill="#C65C3D" d="M-624.643,638.499c-0.108-5.202-1.386-10.134-4.465-14.864
        c-13.134-20.186-2.789-28.196-2.367-40.253c0.017-0.481,0.018-0.97,0-1.465c-0.155-4.532-1.813-9.69-6.603-16.267
        c-14.461-19.852-3.596-36.401,3.292-58.822c-5.376-1.414-11.011-2.639-16.873-3.572c-5.149-0.827-10.478-1.432-15.951-1.741
        c-6.381-0.377-12.958-0.354-19.692,0.162c-4.208,12.717-9.247,23.606-9.332,34.479c-0.053,6.828,1.848,13.649,7.137,20.911
        c13.598,18.668,1.954,25.914,2.343,39.835c0.138,4.939,1.792,10.72,6.626,18.149c14.148,21.743-9.758,47.729-10.282,84.711
        c-0.075,5.283,0.328,10.791,1.386,16.543c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
        c5.802-0.357,11.355-0.91,16.536-1.563C-641.37,682.9-624.222,658.667-624.643,638.499z"/>
    <path display="none" fill="#D1D3D4" d="M-432.575,607.988c-0.641-10.462,7.008-21.057,10.499-25.896
        c2.183-3.024,2.67-11.593,2.709-21.593c0.024-5.99-0.112-12.495-0.141-18.63c-0.044-8.752,0.063-29.031,0.168-46.032
        c-0.009-0.003-0.007-0.01-0.002-0.018c-0.647-3.034-2.597-4.548-4.574-4.564c-2.413-0.02-4.867,2.191-5.051,6.592
        c-0.382,8.943-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.701-8.978-0.561c0.063-9.264,1.479-26.83,1.851-35.543
        c0.188-4.359-1.664-6.695-3.644-6.825c-1.979-0.13-4.088,1.946-4.415,6.412c-0.658,8.921-1.761,24.028-2.597,35.396
        c-0.838,11.379-10.865,8.589-10.068-0.63c0.787-9.216,3.029-35.378,3.029-35.378c0.434-5.018-1.498-7.393-3.714-7.471
        c-2.298-0.081-4.902,2.308-5.494,6.78c-0.006,0.034-0.012,0.073-0.019,0.116c-2.762,22.578-6.082,52.587-6.284,67.889
        c-0.053,4.015,0.108,7.018,0.551,8.607c3.359,12.051,15.283,16.91,18.613,24.131c3.328,7.226,7.621,15.092,8.335,32.152
        c0.722,17.063-3.428,144.016-3.428,144.016c5.09,3.308,10.588,4.373,15.721,4.304c7.541-0.102,14.292-2.652,17.799-4.136
        C-422.644,702.492-431.93,618.443-432.575,607.988z"/>
    <path display="none" fill="#DD874A" d="M-660.584,876.096c0.938,21.295-18.452,47.106-14.087,82.279
        c-4.842,0.297-9.853,0.465-14.966,0.439c-0.825-4.892-1.179-9.605-1.174-14.153c0.039-37.584,24.582-63.879,10.286-85.845
        c-4.615-7.092-6.331-12.681-6.598-17.471c-0.8-14.369,11.447-21.544-2.371-40.514c-5.011-6.879-6.982-13.361-7.131-19.829
        c-0.274-11.901,5.621-23.752,10.091-37.928c5.473,0.31,10.801,0.914,15.951,1.741c-6.883,22.615-17.949,39.248-3.409,59.213
        c4.606,6.323,6.316,11.336,6.579,15.741c0.788,13.218-11.452,20.97,2.392,42.244C-662.099,866.508-660.8,871.182-660.584,876.096z
        M-624.635,783.07h-0.007v0.007h0.007V783.07z"/>
    <path display="none" fill="#F89B47" d="M-604.635,672.3c4.412-4.494,13.671-7.187,21.765-7.221c2.698-0.012,5.267,0.272,7.483,0.883
        c-2.952,8.618-8.974,12.969-8.974,12.969C-588.655,678.972-599.536,677.305-604.635,672.3z M-489.435,672.002h-0.007v0.007h0.007
        V672.002z"/>
    <path display="none" fill="#F89B47" d="M-177.271,512.667c-0.612,11.157-18.105,18.605-35.386,18.577
        c-12.017-0.02-23.931-3.655-29.994-12.173c-2.118-2.976-3.098-5.788-3.151-8.397c-0.235-11.369,17.116-18.869,34.514-19.08
        c12.833-0.155,25.692,3.655,31.535,12.805C-177.887,507.321-177.129,510.093-177.271,512.667z M-29.804,511.413h-0.007v0.007h0.007
        V511.413z"/>
    <path display="none" fill="#E6E7E8" d="M-275.44,553.64l-0.02,0.21l-4.13,44.551l-0.02,0.229l-7.64,82.54
        c0,4.55-18.89,8.24-42.2,8.24c-23.3,0-42.2-3.69-42.2-8.24l-7.63-82.51l-0.03-0.26v-0.011l-4.11-44.54l-0.02-0.21
        c0-4.55,24.17-8.229,53.99-8.229C-299.62,545.41-275.44,549.09-275.44,553.64z M-379.39,535.22c0.04,0.46,0.12,0.45,0.23,0.29
        c0,0,0-0.01,0.01-0.02c0.03-0.09,0.09-0.181,0.15-0.271c2.76-4.12,23.89-7.31,49.55-7.31c25.72,0,46.88,3.21,49.57,7.34
        c0.05,0.11,0.1,0.2,0.15,0.27c0.11,0.181,0.18,0.171,0.22-0.27l3.95-42.61c0.04-0.43-0.08-0.5-0.29-0.25
        c-0.03,0.03-0.06,0.07-0.09,0.11c-3.59,4.02-26.17,7.11-53.51,7.11c-27.81,0-50.72-3.21-53.67-7.33c-0.02-0.03-0.04-0.061-0.06-0.09
        c-0.04-0.061-0.07-0.12-0.11-0.181c0-0.02-0.01-0.029-0.02-0.04c-0.05-0.04-0.07,0.05-0.03,0.471L-379.39,535.22z"/>
    <path display="none" fill="#F89B47" d="M-275.44,810.06v0.011h-0.01v-0.011H-275.44z M-333.59,709.29
        c-27.51,0-49.83,3.67-49.85,8.22v0.01l0.02,0.261c0.83,4.43,22.83,7.97,49.83,7.97c27.07,0,49.09-3.56,49.84-8l0.02-0.23
        C-283.73,712.97-306.05,709.29-333.59,709.29z M-283.94,732.61c-0.01,0-0.01,0.01-0.02,0.02c-0.04,0.09-0.1,0.17-0.17,0.26
        c-3.11,4.061-24.06,7.19-49.46,7.19c-25.08,0-45.85-3.061-49.33-7.05c-0.02-0.021-0.04-0.05-0.06-0.07
        c-0.05-0.06-0.1-0.11-0.13-0.17c-0.02-0.03-0.04-0.05-0.05-0.07c-0.13-0.13-0.21-0.12-0.16,0.41l7.53,81.49
        c0,4.55,18.9,8.229,42.2,8.229c23.32,0,42.21-3.68,42.21-8.229l7.56-81.73c0.01-0.09,0.01-0.149,0.01-0.21
        C-283.81,732.49-283.86,732.5-283.94,732.61z"/>
    <!-- Finish Orange Juice SVG -->

    <!-- Start Sunny Side Egg -->
    <g class="element" id="sunny-side-egg">
        <path fill="#FFEFE3" d="M392.458,430.436c-30.597,7.631-55.045-0.521-80.755-8.277c-25.71-7.757-57.181-20.642-84.988-19.15
            c-27.806,1.491-32.977,18.631-53.331,33.314c-20.354,14.682-40.999,12.539-38.648,53.667c1.139,19.921,30.955,27.182,55.919,21.036
            c24.964-6.146,46.364-5.079,68.426,12.874c22.063,17.952,64.4,25.404,104.128-5.317c39.728-30.722,69.07-15.785,85.063-47.952
            C464.265,438.463,423.056,422.805,392.458,430.436z"/>
        <path fill="#F89B47" d="M238.738,476.83c-26.667-37.229,69.503-57.023,92.39-21.414
            C354.016,491.027,263.406,511.266,238.738,476.83z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#ECBEAA" d="M-489.435,332.783c0,31.811-25.788,57.599-57.6,57.599c-31.811,0-57.6-25.788-57.6-57.599
            c0-31.813,25.789-85.39,57.6-85.39C-515.223,247.394-489.435,300.971-489.435,332.783z"/>
        <path display="inline" fill="#F89B47" d="M-548.292,350.182c5.882-5.993,20.383-8.781,29.248-6.337
            c-2.952,8.618-8.974,12.969-8.974,12.969C-532.312,356.853-543.192,355.187-548.292,350.182z"/>
        <path display="inline" fill="#58595B" d="M-555.234,343.229c0.011,1.224-0.972,2.226-2.196,2.237
            c-1.225,0.012-2.226-0.972-2.238-2.196c-0.012-1.225,0.972-2.227,2.197-2.238C-556.248,341.021-555.246,342.004-555.234,343.229z
            M-513.323,334.247c-1.225,0.011-2.208,1.014-2.196,2.238s1.014,2.208,2.238,2.196c1.224-0.011,2.208-1.014,2.196-2.238
            C-511.097,335.219-512.099,334.235-513.323,334.247z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#E0D4CA" d="M-70.229,337.918c-20.829,5.228-37.473-0.357-54.976-5.671
            c-17.502-5.314-38.927-14.143-57.857-13.12c-18.929,1.021-22.45,12.765-36.306,22.825c-13.856,10.059-27.911,8.591-26.311,36.77
            c0.775,13.649,21.073,18.624,38.068,14.413s31.563-3.48,46.583,8.821c15.02,12.3,43.842,17.406,70.888-3.643
            c27.045-21.049,47.021-10.815,57.908-32.854C-21.345,343.418-49.398,332.69-70.229,337.918z"/>
        <path display="inline" fill="#F89B47" d="M-174.877,369.706c-18.155-25.507,47.316-39.07,62.897-14.672
            C-96.399,379.433-158.084,393.299-174.877,369.706z"/>
    </g>
    <g display="none">
        <path display="inline" fill="#C65C3D" d="M-629.108,351.105c-18.458-28.366,9.455-32.691-8.97-57.984
            c-14.461-19.851-3.596-36.401,3.292-58.822c-5.376-1.415-11.011-2.638-16.873-3.572c-5.149-0.828-10.478-1.432-15.951-1.742
            c-6.381-0.377-12.958-0.354-19.692,0.162c-6.851,20.704-15.905,36.566-2.195,55.39c18.424,25.293-9.489,29.618,8.97,57.985
            c16.17,24.85-17.365,55.24-8.896,101.253c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
            c5.802-0.357,11.355-0.91,16.536-1.563C-641.927,402.026-614.09,374.176-629.108,351.105z"/>
        <path display="inline" fill="#DD874A" d="M-646.097,347.925c-18.458-28.367,9.454-32.691-8.97-57.985
            c-14.54-19.966-3.474-36.599,3.409-59.213c-5.149-0.828-10.478-1.432-15.951-1.742c-6.9,21.879-17.193,38.22-2.96,57.757
            c18.424,25.292-9.489,29.618,8.969,57.984c16.025,24.624-16.757,54.689-9.112,99.998c5.113,0.025,10.124-0.143,14.966-0.439
            C-661.118,400.995-630.508,371.887-646.097,347.925z"/>
    </g>
    <path display="none" fill="#D1D3D4" d="M-432.575,287.496c-0.641-10.462,7.008-21.056,10.499-25.896
        c3.491-4.837,2.644-23.848,2.569-40.223c-0.044-8.752,0.063-29.031,0.168-46.032c-0.009-0.003-0.007-0.01-0.002-0.018
        c-1.438-6.736-9.291-5.979-9.625,2.027c-0.382,8.944-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.702-8.978-0.561
        c0.063-9.264,1.479-26.83,1.851-35.542c0.375-8.718-7.404-9.343-8.058-0.413c-0.658,8.921-1.761,24.029-2.597,35.396
        c-0.838,11.378-10.865,8.588-10.068-0.63c0.787-9.215,3.029-35.377,3.029-35.377c0.884-10.221-8.046-9.477-9.208-0.691
        c-0.006,0.035-0.012,0.074-0.019,0.116c-3.487,28.503-7.862,68.847-5.733,76.497c3.359,12.05,15.283,16.91,18.613,24.13
        c3.328,7.226,7.621,15.092,8.335,32.152c0.722,17.063-3.428,144.016-3.428,144.016c12.57,8.168,27.626,2.66,33.52,0.168
        C-422.644,382-431.93,297.951-432.575,287.496z"/>
    <g display="none">
        <path display="inline" fill="#E6E7E8" d="M-329.447,262.62c-29.82,0-53.997,3.685-53.997,8.232l0.021,0.213l4.117,44.542v0.006
            l0.028,0.261l7.63,82.514c0,4.547,18.895,8.232,42.201,8.232c23.312,0,42.201-3.685,42.201-8.232l7.637-82.542l0.021-0.234
            l4.125-44.548l0.02-0.213C-275.444,266.304-299.62,262.62-329.447,262.62z"/>
        <path display="inline" fill="#F1F2F2" d="M-275.464,271.064l-4.125,44.548c0-4.547-22.319-8.231-49.858-8.231
            c-27.519,0-49.838,3.678-49.859,8.225l-4.117-44.542c0.735,4.448,24.619,8.018,53.976,8.018
            C-300.083,279.083-276.2,275.512-275.464,271.064z"/>
        <path display="inline" fill="#F89B47" d="M-287.247,398.388c0,4.547-18.889,8.232-42.201,8.232
            c-23.306,0-42.201-3.685-42.201-8.232l-7.63-82.514c0.83,4.426,22.822,7.97,49.831,7.97c27.07,0,49.089-3.558,49.837-7.998
            L-287.247,398.388z"/>
        <path display="inline" fill="#FBB87B" d="M-279.589,315.612l-0.021,0.234c-0.749,4.44-22.768,7.998-49.837,7.998
            c-27.009,0-49.001-3.544-49.831-7.97l-0.028-0.261v-0.006c0.021-4.547,22.34-8.225,49.859-8.225
            C-301.909,307.381-279.589,311.065-279.589,315.612z"/>
    </g>
    <path display="none" fill="#ECBEAA" d="M-489.435,585.216c0,31.811-25.788,57.6-57.6,57.6c-31.811,0-57.6-25.789-57.6-57.6
        c0-31.813,25.789-85.39,57.6-85.39C-515.223,499.826-489.435,553.403-489.435,585.216z"/>
    <path display="none" fill="#E0D4CA" d="M-29.805,579.49c-0.116-12.417-14.699-19.342-29.528-19.345
        c-3.69-0.001-7.395,0.427-10.896,1.306c-20.829,5.229-37.473-0.356-54.976-5.671c-17.502-5.314-38.927-14.143-57.857-13.12
        c-18.929,1.021-22.45,12.766-36.306,22.824c-13.056,9.479-26.288,8.723-26.434,32.174c-0.009,1.438,0.031,2.968,0.124,4.596
        c0.588,10.357,12.417,15.72,25.513,15.865c4.164,0.046,8.455-0.436,12.555-1.451c16.995-4.211,31.563-3.48,46.583,8.82
        c7.663,6.274,18.917,10.678,31.696,10.69c12.27,0.013,25.944-4.022,39.192-14.333c27.045-21.05,47.021-10.816,57.908-32.855
        C-30.528,585.541-29.778,582.368-29.805,579.49z"/>
    <path display="none" fill="#C65C3D" d="M-624.643,638.499c-0.108-5.202-1.386-10.134-4.465-14.864
        c-13.134-20.186-2.789-28.196-2.367-40.253c0.017-0.481,0.018-0.97,0-1.465c-0.155-4.532-1.813-9.69-6.603-16.267
        c-14.461-19.852-3.596-36.401,3.292-58.822c-5.376-1.414-11.011-2.639-16.873-3.572c-5.149-0.827-10.478-1.432-15.951-1.741
        c-6.381-0.377-12.958-0.354-19.692,0.162c-4.208,12.717-9.247,23.606-9.332,34.479c-0.053,6.828,1.848,13.649,7.137,20.911
        c13.598,18.668,1.954,25.914,2.343,39.835c0.138,4.939,1.792,10.72,6.626,18.149c14.148,21.743-9.758,47.729-10.282,84.711
        c-0.075,5.283,0.328,10.791,1.386,16.543c6.301,0.643,12.578,0.928,18.711,0.949c5.113,0.025,10.124-0.143,14.966-0.439
        c5.802-0.357,11.355-0.91,16.536-1.563C-641.37,682.9-624.222,658.667-624.643,638.499z"/>
    <path display="none" fill="#D1D3D4" d="M-432.575,607.988c-0.641-10.462,7.008-21.057,10.499-25.896
        c2.183-3.024,2.67-11.593,2.709-21.593c0.024-5.99-0.112-12.495-0.141-18.63c-0.044-8.752,0.063-29.031,0.168-46.032
        c-0.009-0.003-0.007-0.01-0.002-0.018c-0.647-3.034-2.597-4.548-4.574-4.564c-2.413-0.02-4.867,2.191-5.051,6.592
        c-0.382,8.943-1.111,26.284-1.492,35.473c-0.39,9.187-9.041,8.701-8.978-0.561c0.063-9.264,1.479-26.83,1.851-35.543
        c0.188-4.359-1.664-6.695-3.644-6.825c-1.979-0.13-4.088,1.946-4.415,6.412c-0.658,8.921-1.761,24.028-2.597,35.396
        c-0.838,11.379-10.865,8.589-10.068-0.63c0.787-9.216,3.029-35.378,3.029-35.378c0.434-5.018-1.498-7.393-3.714-7.471
        c-2.298-0.081-4.902,2.308-5.494,6.78c-0.006,0.034-0.012,0.073-0.019,0.116c-2.762,22.578-6.082,52.587-6.284,67.889
        c-0.053,4.015,0.108,7.018,0.551,8.607c3.359,12.051,15.283,16.91,18.613,24.131c3.328,7.226,7.621,15.092,8.335,32.152
        c0.722,17.063-3.428,144.016-3.428,144.016c5.09,3.308,10.588,4.373,15.721,4.304c7.541-0.102,14.292-2.652,17.799-4.136
        C-422.644,702.492-431.93,618.443-432.575,607.988z"/>
    <path display="none" fill="#DD874A" d="M-660.584,876.096c0.938,21.295-18.452,47.106-14.087,82.279
        c-4.842,0.297-9.853,0.465-14.966,0.439c-0.825-4.892-1.179-9.605-1.174-14.153c0.039-37.584,24.582-63.879,10.286-85.845
        c-4.615-7.092-6.331-12.681-6.598-17.471c-0.8-14.369,11.447-21.544-2.371-40.514c-5.011-6.879-6.982-13.361-7.131-19.829
        c-0.274-11.901,5.621-23.752,10.091-37.928c5.473,0.31,10.801,0.914,15.951,1.741c-6.883,22.615-17.949,39.248-3.409,59.213
        c4.606,6.323,6.316,11.336,6.579,15.741c0.788,13.218-11.452,20.97,2.392,42.244C-662.099,866.508-660.8,871.182-660.584,876.096z
        M-624.635,783.07h-0.007v0.007h0.007V783.07z"/>
    <path display="none" fill="#F89B47" d="M-604.635,672.3c4.412-4.494,13.671-7.187,21.765-7.221c2.698-0.012,5.267,0.272,7.483,0.883
        c-2.952,8.618-8.974,12.969-8.974,12.969C-588.655,678.972-599.536,677.305-604.635,672.3z M-489.435,672.002h-0.007v0.007h0.007
        V672.002z"/>
    <path display="none" fill="#F89B47" d="M-177.271,512.667c-0.612,11.157-18.105,18.605-35.386,18.577
        c-12.017-0.02-23.931-3.655-29.994-12.173c-2.118-2.976-3.098-5.788-3.151-8.397c-0.235-11.369,17.116-18.869,34.514-19.08
        c12.833-0.155,25.692,3.655,31.535,12.805C-177.887,507.321-177.129,510.093-177.271,512.667z M-29.804,511.413h-0.007v0.007h0.007
        V511.413z"/>
    <path display="none" fill="#E6E7E8" d="M-275.44,553.64l-0.02,0.21l-4.13,44.551l-0.02,0.229l-7.64,82.54
        c0,4.55-18.89,8.24-42.2,8.24c-23.3,0-42.2-3.69-42.2-8.24l-7.63-82.51l-0.03-0.26v-0.011l-4.11-44.54l-0.02-0.21
        c0-4.55,24.17-8.229,53.99-8.229C-299.62,545.41-275.44,549.09-275.44,553.64z M-379.39,535.22c0.04,0.46,0.12,0.45,0.23,0.29
        c0,0,0-0.01,0.01-0.02c0.03-0.09,0.09-0.181,0.15-0.271c2.76-4.12,23.89-7.31,49.55-7.31c25.72,0,46.88,3.21,49.57,7.34
        c0.05,0.11,0.1,0.2,0.15,0.27c0.11,0.181,0.18,0.171,0.22-0.27l3.95-42.61c0.04-0.43-0.08-0.5-0.29-0.25
        c-0.03,0.03-0.06,0.07-0.09,0.11c-3.59,4.02-26.17,7.11-53.51,7.11c-27.81,0-50.72-3.21-53.67-7.33c-0.02-0.03-0.04-0.061-0.06-0.09
        c-0.04-0.061-0.07-0.12-0.11-0.181c0-0.02-0.01-0.029-0.02-0.04c-0.05-0.04-0.07,0.05-0.03,0.471L-379.39,535.22z"/>
    <path display="none" fill="#F89B47" d="M-275.44,810.06v0.011h-0.01v-0.011H-275.44z M-333.59,709.29
        c-27.51,0-49.83,3.67-49.85,8.22v0.01l0.02,0.261c0.83,4.43,22.83,7.97,49.83,7.97c27.07,0,49.09-3.56,49.84-8l0.02-0.23
        C-283.73,712.97-306.05,709.29-333.59,709.29z M-283.94,732.61c-0.01,0-0.01,0.01-0.02,0.02c-0.04,0.09-0.1,0.17-0.17,0.26
        c-3.11,4.061-24.06,7.19-49.46,7.19c-25.08,0-45.85-3.061-49.33-7.05c-0.02-0.021-0.04-0.05-0.06-0.07
        c-0.05-0.06-0.1-0.11-0.13-0.17c-0.02-0.03-0.04-0.05-0.05-0.07c-0.13-0.13-0.21-0.12-0.16,0.41l7.53,81.49
        c0,4.55,18.9,8.229,42.2,8.229c23.32,0,42.21-3.68,42.21-8.229l7.56-81.73c0.01-0.09,0.01-0.149,0.01-0.21
        C-283.81,732.49-283.86,732.5-283.94,732.61z"/>
    <!-- End Sunny Side Egg -->
</svg>

<script>
    var DATA = {
        "bacon": {
            "facts": [
                { "label": "Calories", "value": "50" },
                { "label": "Protein", "value": "20" },
                { "label": "Fat", "value": "60" },
                { "label": "Sugar", "value": "0" }
            ]
        },
        "egg": {
            "facts": [
                { "label": "Calories", "value": "30" },
                { "label": "Protein", "value": "40" },
                { "label": "Fat", "value": "30" },
                { "label": "Sugar", "value": "0" },
                { "label": "Salt", "value": "10" }
            ]
        },
        "fork": {
            "facts": [
                { "label": "Metal", "value": "30" },
                { "label": "Copper", "value": "40" },
                { "label": "Metallurgists", "value": "30" }
            ]
        },
        "orange-juice": {
            "facts": [
                { "label": "Calories", "value": "40" },
                { "label": "Protein", "value": "10" },
                { "label": "Fat", "value": "10" },
                { "label": "Sugar", "value": "20" }
            ]
        },
        "sunny-side-egg": {
            "facts": [
                { "label": "Calories", "value": "40" },
                { "label": "Protein", "value": "40" },
                { "label": "Fat", "value": "40" },
                { "label": "Sugar", "value": "0" },
                { "label": "Salt", "value": "10" }
            ]
        }
    }
</script>

<script src="./src/js/jquery.js"></script>
<script src="./src/js/jquery-ui.min.js"></script>
<script src="./src/js/app.js"></script>
