@keyframes hover-animation {
  0% { transform: scale(1); transform-origin: center; }
  10% { transform: scale(1); transform-origin: center; }
  15% { transform: scale(1.5); transform-origin: center; }
  100% { transform: scale(1.5); transform-origin: center; }
} 

.element:hover {
    animation: hover-animation 10s ease infinite;
    z-index: 10;
}

.element {
    cursor: pointer;
}
